langchain
pypdf2
openai
chromadb
db-sqlite3
tiktoken
streamlit
streamlit-extras
faiss-cpu==1.7.2
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
